<div class="login-box">
  <div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>{{'Username'| translate}}</label>
            <div class="ui left icon input">
              <input type="text" placeholder="{{'Username'| translate}}">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>{{'Password'| translate}}</label>
            <div class="ui left icon input">
              <input type="password" placeholder="{{'Password'| translate}}">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui blue submit button">{{'Login'| translate}}</div>
        </div>
      </div>
      <div class="middle aligned column">
        <div class="ui form">
          <div class="field">
            <label>{{'Name'| translate}}</label>
            <div class="ui left icon input">
              <input type="text" placeholder="{{'Name'| translate}}">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>{{'Email'| translate}}</label>
            <div class="ui left icon input">
              <input type="email" placeholder="{{'Email'| translate}}">
              <i class="envelope outline icon"></i>
            </div>
          </div>
          <div class="field">
              <label>{{'Password'| translate}}</label>
              <div class="ui left icon input">
                <input type="password" placeholder="{{'Password'| translate}}">
                <i class="lock icon"></i>
              </div>
            </div>
          <div class="ui button">
            <i class="signup icon"></i>
            {{'Sign Up' | translate}}
          </div>
        </div>

      </div>
    </div>
    <div class="ui vertical divider">
      {{'Or' | translate}}
    </div>
  </div>
</div>